* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
/* background-image: url(./img/dark\ backgrouns.jpg); */
  background-color: azure;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
   width: 80%;
  margin: auto;
}



/* HEADER SECTION */
.header {
  padding: 20px;
  background-color: rgb(204, 202, 202);
  /* border: 3px solid rgb(238, 255, 0); */
  display: flex;
  position: relative;

}
.gminfo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;


  /* border: 3px solid red; */
}

#gmphoto {
  height: 100px;
  border: 2px solid aqua;
  box-shadow: 10px 10px 5px grey;
}

.gminfo h1 {
  padding-left: 20px;
}

/* NAVIGATION MENU */
.nav {
  width: 80%;
  /* border: 3px solid rgb(0, 255, 76); */
  display: inline;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
p {
  justify-content: flex-end;
}
.smlogos{
 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 40px;
  position: absolute;
  right: 10px;
  bottom: 5px;


}
.github {
    width: 32px;
    padding-right: 10px;
 }
 .linkedin {
  width: 82px;
}
/* MAIN SECTION */
main {
  background-color: rgb(112, 112, 112);
  color: white;
}
/* MAIN SECTION BEGINING IMAGE */
.wcimg {
  background-image: url(./img/R.jpg);
  opacity: 90;
  position: relative;
  height: 80px;
}

.wcimg h2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}
.linksbar {
  width: 100%;
  height: 80px;
}

/* ABOUT ME */
.aboutme {
  height: 500px
  border: 3px solid red;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}
.aboutme h2 {
  width: 30%;
  font-size: 2.5rem;
  align-self: center;
  
  /* border: 3px solid orange; */
}
.aboutme p {
  border-left: 3px solid aqua;
  width: 70%;
  padding-left: 20px;
}

.aboutme:hover {
  background-color: rgb(87, 99, 110);
}

/* MY WORK */

.mywork {
  /* border: 3px solid red; */
  padding: 30px;
  display: flex;
  justify-content: center;
}
.mywork h2 {
  width: 30%;
  font-size: 2.5rem;
  align-self: center;
  /* border: 3px solid orange; */
}
.div-mywork {
  border-left: 3px solid aqua;
  width: 70%;
}

.boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  ;
}
h3 {
 display: flex;
 flex-direction: column;
 margin: auto;
 padding: 5px;
}
.mockup {
  height: 250px;
  border: 5px solid rgb(87, 87, 87);
  box-shadow: 10px 10 px 5px;
  transition: all .2s ease-in-out; 
}

.mywork:hover {
  background-color: rgb(87, 99, 110);
}
.mockup:hover {
  transform: scale(0.9);
}
/* CONTACT ME */
.contactme {
  /* border: 3px solid red; */
  padding: 30px;
  display: flex;
  justify-content: center;
}
.contactme h2 {
  width: 30%;
  font-size: 2.5rem;
  align-self: center;
}
.contactlink {
  /* border: 3px solid darkgrey; */
  border-left: 3px solid aqua;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.contactlink p a {
  text-decoration: none;

}

a:visited {
  color: rgb(250, 252, 250);
}
  .contactme:hover {
    background-color: rgb(87, 99, 110);
  }


  /* FOOTER SECTION */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }

  h4 {

    color: white;
    
  }
  .bwslogo{
    height: 38px;
    padding-top: 5px;
  }



  /* MEDIA QUERY */

 
  @media screen and (max-width: 700px) {
    body {
      background-color: blue;
    }
      

    /* HEADER SECTION */
    .header {
   
    }
.gmphoto {
  width :80%;
}
    .gminfo h1 {
      font-size: 100%;
    }
    .nav {
      display: flex;
      flex-direction: column;
    }
.smlogos {
  position: absolute;
  bottom: -3px;
}


/* MAIN SECTION */
.wcimg {

 height: 50px; 
 width: auto;
}

.wcimg h2 {
  font-size: 90%;
  bottom: 15px;
  right: 15px;
}



      .aboutme h2, .mywork h2, .contactme h2 {
        font-size: 70%;
      }
    
      p {
        font-size: 60%;
      }

      .mockup {
        width: 100%;
        height: auto;
      }

      .contactlink {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
      .contactlink p {
        width: 80%;
      }

      h4 {
        font-size: 30%;
      }

      .footerlogos {
        height: 20px;
      }
      .bwslogo {
        width: 10%;
        height: auto;
      }
    }