* {
  margin: 0;
  padding: 0;
}

body {
background-image: url(./img/dark\ backgrouns.jpg);
  background-color: azure;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
   width: 80%;
  margin: auto;
}


/* HEADER SECTION */
.header {
  padding: 20px;
  background-color: rgb(204, 202, 202);
  /* border: 3px solid rgb(238, 255, 0); */
  display: flex;
  position: relative;
}
.gminfo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  /* border: 3px solid red; */
}

#gmphoto {
  height: 100px;
  border: 2px solid aqua;
  box-shadow: 10px 10px 5px grey;
}

.gminfo h1 {
  padding-left: 20px;
}

/* NAVIGATION MENU */
.nav {
  width: 80%;
  /* border: 3px solid rgb(0, 255, 76); */
  display: inline;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
p {
  justify-content: flex-end;
}
.smlogos{
 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 40px;
  position: absolute;
  right: 10px;
  bottom: 5px;


}
.github {
    width: 32px;
    padding-right: 10px;
 }
 .linkedin {
  width: 82px;
}
/* MAIN SECTION */
main {
  background-color: rgb(112, 112, 112);
  color: white;
}
/* MAIN SECTION BEGINING IMAGE */
.wcimg {
  background-image: url(./img/R.jpg);
  opacity: 90;
  position: relative;
  height: 80px;
}

.wcimg h2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}
.linksbar {
  width: 100%;
  height: 80px;
}

/* ABOUT ME */
.aboutme {
  height: 500px
  border: 3px solid red;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}
.aboutme h2 {
  width: 30%;
  font-size: 2.5rem;
  align-self: center;
  /* border: 3px solid orange; */
}
.aboutme p {
  border-left: 3px solid aqua;
  width: 70%;
  padding-left: 20px;
}

.aboutme:hover {
  background-color: rgb(87, 99, 110);
}

/* MY WORK */

.mywork {
  /* border: 3px solid red; */
  padding: 30px;
  display: flex;
  justify-content: center;
}
.mywork h2 {
  width: 30%;
  font-size: 2.5rem;
  align-self: center;
  /* border: 3px solid orange; */
}
.div-mywork {
  border-left: 3px solid aqua;
  width: 70%;
}

.mywork:hover {
  background-color: rgb(87, 99, 110);
}

/* CONTACT ME */
.contactme {
  /* border: 3px solid red; */
  padding: 30px;
  display: flex;
  justify-content: center;
}
.contactme h2 {
  width: 30%;
  font-size: 2.5rem;
  align-self: center;
}
.contactlink {
  /* border: 3px solid darkgrey; */
  border-left: 3px solid aqua;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.contactlink p a {
  text-decoration: none;

}

a:visited {
  color: rgb(250, 252, 250);
}
  .contactme:hover {
    background-color: rgb(87, 99, 110);
  }


  /* FOOTER SECTION */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;



  }

  h4 {

    color: white;
  }